extends layout

block content
  div
    button
      a(href='/user/logout') Logout
  h1 Hi #{user.username}!

  div
    input#fileinput(type='file', name='file')
    button#uploadButton Upload
  div 
    input#newFolder(type='text' name='new-folder')
    button#createFolder Create Folder
  div
    nav#breadcrumbs
      // Breadcrumbs will be dynamically populated here
    div#content
      ul#folders
        // Folders will be populated here
      ul#files
        // Files will be populated here
  script.
    function fetchFolderContent(folderId) {
      const url = `/api/folder?folderId=${folderId}`;

      // Update the URL to include the folderId as a query parameter
      if (history.pushState) {
        const newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?folderId=' + folderId;
        window.history.pushState({ path: newurl }, '', newurl);
      }

      fetch(url)
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(data => {
          // currentFolderId is now managed through the URL
          updateBreadcrumbs(data.path);
          updateFolders(data.folders);
          updateFiles(data.files);
        })
        .catch(error => {
          console.error('There has been a problem with your fetch operation:', error);
        });
    }

    function updateBreadcrumbs(path) {
      const breadcrumbs = document.getElementById('breadcrumbs');
      breadcrumbs.innerHTML = '';

      path.forEach((crumb, index) => {
        const link = document.createElement('a');
        link.href = `?folderId=${crumb.id}`; // Set the correct query parameter for each breadcrumb
        link.textContent = crumb.name;
        link.addEventListener('click', (event) => {
          event.preventDefault();
          fetchFolderContent(crumb.id);
        });

        breadcrumbs.appendChild(link);

        if (index < path.length - 1) {
          const separator = document.createElement('span');
          separator.textContent = ' / ';
          breadcrumbs.appendChild(separator);
        }
      });
    }

    function updateFolders(folders) {
      const foldersList = document.getElementById('folders');
      foldersList.innerHTML = '';

      folders.forEach(folder => {
        const listItem = document.createElement('li');
        const link = document.createElement('a');
        link.href = `?folderId=${folder.id}`; // Set the correct query parameter for each folder link
        link.textContent = folder.name;
        link.addEventListener('click', (event) => {
          event.preventDefault();
          fetchFolderContent(folder.id);
        });
        listItem.appendChild(link);
        foldersList.appendChild(listItem);
      });
    }

    function updateFiles(files) {
      const filesList = document.getElementById('files');
      filesList.innerHTML = '';

      files.forEach(file => {
        const listItem = document.createElement('li');

        const text = document.createElement('span');
        text.textContent = `${file.name} (${file.size} bytes)`
        listItem.appendChild(text);

        const download = document.createElement('a');
        download.href = `/api/file/${file.id}`;
        download.textContent = `download`;
        listItem.appendChild(download);

        const delete_ = document.createElement('a');
        delete_.href = '#'; // Prevent default navigation
        delete_.textContent = 'delete';
        delete_.addEventListener('click', async (event) => {
          event.preventDefault();

          if (!confirm("Are you sure you want to delete this file?")) return;

          try {
            const response = await fetch(`/api/delete/file/${file.id}`, {
              method: 'GET',
            });

            if (!response.ok) {
              throw new Error('Failed to delete file');
            }

            const currentFolderId = getFolderIdFromQueryString() || #{user.rootFolderId};
            fetchFolderContent(currentFolderId); // Refresh folder content after deletion
          } catch (error) {
            console.error('Error deleting file:', error);
            alert('Error deleting file.');
          }
        });
        listItem.appendChild(delete_);

        filesList.appendChild(listItem);
      });
    }

    async function createFolder() {
      const currentFolderId = getFolderIdFromQueryString();
      const newFolderInput = document.getElementById("newFolder");
      const newFolderName = newFolderInput.value; 

      if (!newFolderName) {
        alert("Please enter a folder name.");
        return; 
      }

      const data = {
        newFolderName: newFolderName,
        targetParentFolderId: currentFolderId
      };

      try {
        const response = await fetch('/createFolder', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        });


        const result = await response.json();
        console.log(result);
        if (result.message === "Folder created successfully") {
          console.log('Folder created successfully:', result);
          fetchFolderContent(currentFolderId); // Refresh the folder content
        } else {
          console.error('Error creating folder:', result);
          alert('Error creating folder.');
        }
      } catch (error) {
        console.error('Error creating folder:', error);
        alert('Error creating folder.');
      }
    }


    // Get the folderId from the query parameters on page load
    function getFolderIdFromQueryString() {
      const queryParams = new URLSearchParams(window.location.search);
      return queryParams.get('folderId');
    }

    // Initial fetch (load based on query parameter or root folder)
    document.addEventListener('DOMContentLoaded', () => {
      const initialFolderId = getFolderIdFromQueryString() || #{user.rootFolderId};
      fetchFolderContent(parseInt(initialFolderId));
    });

    const fileInput = document.getElementById('fileinput');
    const uploadButton = document.getElementById('uploadButton');

    uploadButton.addEventListener('click', () => {
      const file = fileInput.files[0];
      if (!file) {
        alert('Please select a file to upload.');
        return;
      }

      const formData = new FormData();
      formData.append('file', file);
      
      // Get the current folder ID from the URL
      const currentFolderId = getFolderIdFromQueryString() || #{user.rootFolderId};
      formData.append('parentId', Number(currentFolderId))

      fetch('/upload', {
        method: 'POST',
        body: formData,
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('File upload failed');
          }
          return response.json();
        })
        .then(data => {
          console.log('File uploaded successfully:', data);
          // Refresh the file list after successful upload
          fetchFolderContent(currentFolderId);
        })
        .catch(error => {
          console.error('Error uploading file:', error);
          alert('Error uploading file.');
        });
    });

    const createFolderButton = document.getElementById('createFolder');

    createFolderButton.addEventListener('click', (event) => {
      event.preventDefault(); // Prevent any default form submission behavior
      createFolder();
    });